<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h1>this is home page</h1>

    <a href="/auth/login">login page</a>

    <% if (user) { %>

        <h5 class="mb-4">
            Welcome,
            <span class="text-success">
                <%= user.name %>
            </span>
        </h5>

        <a href="/profile" class="btn btn-success btn-lg w-100">
            Go to Profile
        </a>

        <% } else { %>

            <a href="/auth/login" class="btn btn-primary btn-lg w-100">
                Go to Login
            </a>

            <% } %>

</body>

</html>